<div class="heading"> Student Enrollment Form</div><br>
<div class="container bg-light">
    
    <form class="form col-md-12"#userenrollmentform="ngForm">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">Full Name<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Age<span style="color:red">*</span></label>
                        <input type="number" class="form-control" id="" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Address<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="inputAddress" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">District<span style="color:red">*</span></label>
                        <select id="inputState" class="form-control ">
                            <option selected>Choose</option>
                            <option>Alappuzha</option>
                            <option>Ernakulam</option>
                            <option>Idukki</option>
                            <option>Kannur</option>
                            <option>Kasargod</option>
                            <option>Kollam</option>
                            <option>Kottayam</option>
                            <option>Kozhikode</option>
                            <option>Malappuram</option>
                            <option>Palakkad</option>
                            <option>Pathanamthitta</option>
                            <option>Thiruvananthapuram</option>
                            <option>Thrissur</option>
                            <option>Wayanad</option>
                        </select>
                    </div>
                </div><br>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email<span style="color:red">*</span></label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Mobile No:<span style="color:red">*</span></label>
                        <input type="number" class="form-control" id="" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">Date of Birth<span style="color:red">*</span></label>
                        <input type="date" class="form-control" id="" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Gender<span style="color:red">*</span></label>
                        <select id="" class="form-control">
                            <option selected>Choose</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div><br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">Highest Qualification<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Pass out Year<span style="color:red">*</span></label>
                        <input type="number" class="form-control" id="" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">Skill Set<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Employment Status<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">Technology Training<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Year<span style="color:red">*</span></label>
                        <input type="number" class="form-control" id="" required>
                    </div>
                    <br>
                    <div class="form-group col-md-6">
                        <label for="">Course<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                </div><br>
                <div class="row">
                    <label for="">Photo<span style="color:red">*</span></label>
                    <input type="file" name="" id="">
                </div><br>
                <button type="submit" class="btn btn-primary">Register</button><br>
            </div>
        </div>
    </form><br>

</div>
